video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url() #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
.landing {
  font-weight: 700;
  font-family: sans-serif;
  font-size: 7.143em;
  color:white;
}s
.content{
  font-family: sans-serif;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
.intro{
  margin: 10px;
  font-size: 3.143em;
  color:white;
}
.page{
  display: flex;
  flex-direction: column;     
  justify-content: center; 
  align-items: center;    
  width: auto;
  height: 100vh;
}
.middle{
  width: auto;
  height:20px;
}
.info{
  position: absolute;
  height: 200px;
  background: white;
  width: 100vw;
  bottom: 20;
  left: 0;
}
.landingInfo{
  display: flex;   
  justify-content: center; 
  align-items: center;    
  margin:20;
}
.landingCategories{
  display: flex;
  flex-direction: column;     
  justify-content: center; 
  align-items: center;    
}
.landingInfoTitle{
  display: flex;
  flex-direction: row;
  color:tomato;
  font-size: 1.543em;
}
.infoTitle{
  display: flex;
  flex-direction: column;
  margin:5px;
  justify-content: center; 
  align-items: center;
}
.category{
  color:tomato;
  font-size: 1.543em;
  margin:5px;
}
.subCategory{
  color: #565151;
  font-size: 1.2em;
}












