video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url() #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
.landing {
  font-weight: 700;
  font-family: 'Architects Daughter', cursive;
  font-size: 7.143em;
  color:white;
}s
.content{
  font-family: 'Architects Daughter', cursive;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
.intro{
  font-family: 'Architects Daughter', cursive;
  margin: 10px;
  font-size: 3.143em;
  color:white;
}
.page{
  display: flex;
  flex-direction: column;     
  justify-content: center; 
  align-items: center;    
  width: auto;
  height: 100vh;
}
.middle{
  width: auto;
  height:20px;
}
.info{
  position: absolute;
  height: 200px;
  background: white;
  width: 100vw;
  bottom: 20;
  left: 0;
}
.landingInfo{
  display: flex;   
  justify-content: center; 
  align-items: center;    
  margin:20;
}
.landingCategories{
  display: flex;
  flex-direction: column;     
  justify-content: center; 
  align-items: center;    
}
.landingInfoTitle{
  display: flex;
  flex-direction: row;
  color:tomato;
  font-size: 1.543em;
}
.infoTitle{
  display: flex;
  flex-direction: column;
  margin:5px;
  justify-content: center; 
  align-items: center;
}
.category{
  color:tomato;
  font-size: 1.543em;
  margin:5px;
  font-family: 'Varela Round', sans-serif;
}
.subCategory{
  color: #565151;
  font-size: 1.2em;
  font-family: 'Varela Round', sans-serif;
}
.showMore{
  cursor: pointer;
}
.showMore:hover{

}
.buttons{
  display: flex;
  flex-direction: row;
  font-size: 1.543em;
  align-items: center;
  justify-content: center;
}
.authButtons{
  background: #F55959;
  border: none;
  height:70px;
  width:165px;
  border-radius: 10px;
  margin:20px;
  font-size: 1.243em;
  color:white;
  border: none;
  cursor: pointer;
  outline-style: none;
  font-family: 'Architects Daughter', cursive;
}
.authButtons:hover{
 

}
/*start of login and signup*/
.loginAuth{
  width:auto;
  height: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.543em;
  align-items: center;
  justify-content: center;
}
  .hTwo{
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}
.unit{
  margin:10px;
  alignment-baseline: 
}
.active {
  border-bottom: 2px solid #1161ed;
}

.nonactive {
  color: rgba(255, 255, 255, 0.2);
}
.inputAuth{
  height:30px;
  width: 500px;
  outline-style: none;
  border-radius: 15px;
  border: none;
  padding: 5px;
  background: #D3D3D3;
  font-size: 1.243em;
  margin:10px;
}
.error{
  display: inline-block;
  width: 140px;
  color:red;
  font-size: .7em;
}
.labelAuth{
  display: inline-block;
  width: 140px;
  text-align: right;
}